<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample_test">

<!-- 	<listeners> -->
<!-- 		<listener class-name="com.listeners.ExtentReportListener" /> -->
<!-- 	</listeners> -->

	<test name="Sample">
		<classes>
			<class name="com.runners.runnerTest"/>
		</classes>
	</test>
</suite>